<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
        <testsuite name="cache">
            <directory>./tests/cache</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="2048M" />
    </php>
    <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">src</directory>
    </whitelist>
    </filter>
    <logging>
        <log type="testdox-html" target="phpunitTestRet/testdox-html-log.html"/>
        <log type="coverage-html" target="phpunitTestRet" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>